
input {
    flex: 0 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
  }
  
  .payment-table {
    margin-top: 10px;
    width: max-content; 
    min-width: 100%;
    border-collapse: collapse;
  }
  
  .payment-table th, .payment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .payment-table th {
    background: #f1f1f1;
  }
  
  .button-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
