.base-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  background: url('./../../assets/Login_background_img.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container { 
    display: flex;
    width: 90%;
    background: #bdb8b8;
    border: 1px solid #f5f5f5;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 550px;
}

.login-form {
    width: 40%;
    padding: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
  h2 {
    text-align: center;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .captcha-text {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .refresh-captcha {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
 
  .sign-in {
    width: 100%;
    padding: 10px;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .welcome-section {
    width: 60%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover; /* Ensures the image covers the full section */
    background-position: center; /* Centers the image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 100%;
  }
